<div class="wrapper">
  <form (ngSubmit)="onForgetPassword()" [formGroup]="forgetPasswordForm">
    <div class="form-wrapper">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error *ngIf="forgetPasswordForm.get('email').hasError('required')">Email wajib diisi</mat-error>
        <mat-error *ngIf="forgetPasswordForm.get('email').hasError('email')">{{forgetPasswordForm.get('email').errors.email}}</mat-error>
      </mat-form-field>
  
      <div class="btn-container">
        <button [disabled]="forgetPasswordForm.invalid" class="btn" mat-raised-button>Submit</button>
      </div>
    </div>
  </form>
</div>