<form (ngSubmit)="onAddKota()" [formGroup]="kotaForm">
  <mat-form-field>
    <mat-label>Nama Kota / Chapter</mat-label>
    <input matInput type="text" formControlName="kota_nama">
  </mat-form-field>

  <div class="btn-container">
    <ng-container *ngIf="!loader">
      <button type="button" (click)="onCloseDialog()" mat-raised-button color="warn">
        Tutup
      </button>
      &nbsp;
      <button type="submit" [disabled]="kotaForm.invalid" mat-raised-button color="primary">
        Simpan
      </button>
    </ng-container>
    <ng-container *ngIf="loader">
      <mat-spinner diameter="20" style="margin: auto"></mat-spinner>
    </ng-container>
  </div>
</form>