<div class="section">
  <div class="image">
    <div class="bio">
      <div class="form-wrapper">
        <form [formGroup]="passwordForm" (ngSubmit)="onUpdateMyPassword()">
          <div>
            <mat-form-field>
              <input [type]="typeOldPassword" matInput formControlName="old_password" placeholder="Old Password">
              <mat-icon style="cursor: pointer" (click)="onTriggerEye('typeOldPassword', 'eyeOldPassword')" matSuffix>{{eyeOldPassword}}</mat-icon>
              <mat-error *ngIf="passwordForm.get('old_password').hasError('required')">Old password required</mat-error>
              <mat-error *ngIf="passwordForm.get('old_password').hasError('minlength')">Password minimal 6 characters alphanumeric </mat-error>
              <mat-error *ngIf="passwordForm.get('old_password').hasError('old_password')">{{passwordForm.get('old_password').errors['old_password'] }}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input [type]="typeNewPassword" matInput formControlName="new_password" placeholder="New Password">
              <mat-icon style="cursor: pointer" (click)="onTriggerEye('typeNewPassword', 'eyeNewPassword')" matSuffix>{{eyeNewPassword}}</mat-icon>
              <mat-error *ngIf="passwordForm.get('new_password').hasError('required')">Password required</mat-error>
              <mat-error *ngIf="passwordForm.get('new_password').hasError('minlength')">Password minimal 6 characters alphanumeric </mat-error>
              <mat-error *ngIf="passwordForm.get('new_password').hasError('password')">{{passwordForm.get('new_password').errors['new_password'] }}</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input [type]="typeConfirmPassword" matInput formControlName="confirmation_password" placeholder="Confirmation Password">
              <mat-icon style="cursor: pointer" (click)="onTriggerEye('typeConfirmPassword', 'eyeConfirmPassword')" matSuffix>{{eyeConfirmPassword}}</mat-icon>
              <mat-error *ngIf="passwordForm.get('confirmation_password').hasError('required')">Confirmation password required</mat-error>
              <mat-error *ngIf="passwordForm.get('confirmation_password').hasError('minlength')">Confirmation password minimal 6 characters alphanumeric</mat-error>
              <mat-error *ngIf="passwordForm.get('confirmation_password').hasError('confirmation_password')">{{passwordForm.get('confirmation_password').errors['confirmation_password']}}</mat-error>
            </mat-form-field>
          </div>
                
      
          <div class="btn-container">
            <ng-container *ngIf="!loader">
              <button type="submit" [disabled]="passwordForm.invalid" mat-raised-button color="primary">
                Update Password
              </button>
            </ng-container>
            <ng-container *ngIf="loader">
              <mat-spinner diameter="20" style="margin: auto"></mat-spinner>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
