mat-form-field {
  width: 100%;
  margin-bottom: .7rem;
}

.btn-container {
  text-align: center;
}

.img {
  width: 200px;
  height: 200px;
  padding-right: 2rem;
}

.section {
  width: 100%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.section div.image {
  display: flex;
}

.section h3, .section p {
  padding: 0;
  margin: 0;
}

.section div.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-wrapper form {
  width: 500px;
}


.data {
  display: flex;
  padding-bottom: .5rem;
}

.key {
  width: 85px;
  max-width: 85px;
}