<div class="filter-wrapper">
  <div class="position: relative">
    <button type="button" color="accent" mat-raised-button (click)="onOpenFilterDialog()">
      <span style="font-size: 12px; color: white">Filter</span>
    </button>
    <button *ngIf="isFilter" (click)="onResetFilter()" mat-raised-button color="warn" matTooltip="Hapus Filter">
      <span style="font-size: 12px">Reset Filter</span>
    </button>
  </div>
  <span class="example-spacer"></span>
  <div>
    <mat-form-field>
      <input type="text" [(ngModel)]="searchText" (keyup)="onDetectEmpty()" (keyup.enter)="onSearch()"  placeholder="Email & Nama User" matInput>
    </mat-form-field>
  </div>
</div>

<div *ngIf="loader" style="position: fixed;width: 100%;top: 0; left: 0">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="table-wrapper" *ngIf="dataSource.data.length <= 0 && !loader">
  <br>
  <h5 style="text-align: center">No Data</h5>
  <br>
</div>

<div class="table-wrapper" *ngIf="dataSource.data.length > 0">
  <table #table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="dataSource" class="table table-data mat-elevation-z8">
    <ng-container matColumnDef="user_created_at" sticky>
      <th class="imp" mat-sort-header mat-header-cell *matHeaderCellDef> Terdaftar pada </th>
      <td class="imp" mat-cell *matCellDef="let element"> 
        <p style="margin: 0;">{{element.user_created_at | date: 'dd MMM yyyy'}}</p> 
        <p style="margin: 0;">{{element.user_created_at | date: 'hh:mm:ss a'}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="user_email">
      <th class="imp" mat-sort-header mat-header-cell *matHeaderCellDef> Email user </th>
      <td class="imp" mat-cell *matCellDef="let element"> {{element.user_email}} </td>
    </ng-container>    

    <ng-container matColumnDef="user_nama">
      <th class="imp" mat-sort-header mat-header-cell *matHeaderCellDef> Nama user </th>
      <td class="imp" mat-cell *matCellDef="let element"> {{element.user_nama || '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="kota">
      <th class="imp" mat-sort-header mat-header-cell *matHeaderCellDef> Kota / Chapter </th>
      <td class="imp" mat-cell *matCellDef="let element"> {{(element.kota_nama | titlecase) || '-'}} </td>
    </ng-container>

    <ng-container matColumnDef="user_role">
      <th class="imp" mat-sort-header mat-header-cell *matHeaderCellDef> Role </th>
      <td class="imp" mat-cell *matCellDef="let element"> {{(element.user_role == 1 ? 'admin' : element.user_role == 2 ? 'ketua chapter' : 'user') | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="user_activate">
      <th class="imp" mat-sort-header mat-header-cell *matHeaderCellDef> Verified ? </th>
      <td class="imp" mat-cell *matCellDef="let element"> 
        <mat-chip-list>
          <mat-chip [ngClass]="{
            'active': element.user_activate == 1,
            'suspend': element.user_activate == 2
          }">{{((element.user_activate == 1 ? 'sudah verifikasi' : 'belum verifikasi') | titlecase)}}</mat-chip>
        </mat-chip-list>    
      </td>
    </ng-container>

    <ng-container matColumnDef="user_status">
      <th class="imp" mat-sort-header mat-header-cell *matHeaderCellDef> Status </th>
      <td class="imp" mat-cell *matCellDef="let element"> 
        <mat-chip-list>
          <mat-chip [ngClass]="{
            'active': element.user_status == 1,
            'suspend': element.user_status == 2,
            'block': element.user_status == 4
          }">{{((element.user_status == 1 ? 'aktif' : element.user_status == 2 ? 'suspend' : element.user_status == 3 ? 'pending' : 'block') | titlecase)}}</mat-chip>
        </mat-chip-list>    
      </td>
    </ng-container>

    <ng-container matColumnDef="action" stickyEnd>
      <th class="imp action" mat-header-cell *matHeaderCellDef> Tindakan </th>
      <td class="imp" mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="userData.role == 1">
          <button *ngIf="userData.user_id != element.user_id" (click)="onOpenEditDialog(element)" matTooltip="Edit User Data" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button> 
          <button *ngIf="userData.user_id != element.user_id" (click)="onOpenUpdateStatusUser(element)" matTooltip="Update Status User" mat-icon-button>
            <mat-icon>people</mat-icon>
          </button> 
          <button *ngIf="userData.user_id != element.user_id" (click)="onOpenUpgradeDialog(element)" matTooltip="Upgrade / Downgrade User" mat-icon-button>
            <mat-icon>change_circle</mat-icon>
          </button> 
          <button *ngIf="userData.user_id != element.user_id && element.user_activate == 2" (click)="onActivateUser(element)" matTooltip="Veifiy User (Manual)" mat-icon-button>
            <mat-icon>task_alt</mat-icon>
          </button> 
        </ng-container>
        <ng-container *ngIf="userData.role != 1">
          <small style="color: red">Tidak ada permission</small>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr class="rows" mat-row 
      *matRowDef="let row; columns: displayedColumns" 
      style="cursor: pointer; transition: 0.5s"
    ></tr>
    
  </table>
</div>

<mat-paginator
  *ngIf="dataSource.data.length > 0"
  class="table-pagination" 
  (page)="onPageChange($event)"
  [pageSize]="tableQueryData.limit"
  [pageSizeOptions]="[10, 50, 100, 200]"
  [length]="tableQueryData.totalAll" 
  [pageIndex]="tableQueryData.page -1"
  [hidePageSize]="false"
  [showFirstLastButtons]="true">
</mat-paginator>
