<div class="wrapper">
  <form (ngSubmit)="onResetPassword()" [formGroup]="resetPasswordForm">
    <div class="form-wrapper">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [type]="typePassword" matInput formControlName="password">
        <mat-icon (click)="onSetVisibility('eyePassword', 'typePassword')" matSuffix>{{eyePassword}}</mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">Password wajib diisi</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('minlength')">Password minimal 6 karakter / digit</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('password')">{{resetPasswordForm.get('password').errors.password}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Konfirmasi Password</mat-label>
        <input matInput [type]="typeConfirmationPassword" formControlName="confirmation_password">
        <mat-icon (click)="onSetVisibility('eyeConfirmationPassword', 'typeConfirmationPassword')" matSuffix>{{eyeConfirmationPassword}}</mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('confirmation_password').hasError('required')">Konfirmasi password wajib diisi</mat-error>
        <mat-error *ngIf="resetPasswordForm.get('confirmation_password').hasError('confirmation_password')">{{resetPasswordForm.get('confirmation_password').errors.confirmation_password}}</mat-error>
      </mat-form-field>
  
      <div class="btn-container">
        <button [disabled]="resetPasswordForm.invalid" class="btn" mat-raised-button>Submit</button>
      </div>
    </div>
  </form>
</div>